<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>delete record</title>
</head>
<body>
<span class="border border-warning"></span>
<div class="container">
  <div class="jumbotron">

    <h3 align="center">Delete Queue</h3>

<form action="/delete_record" method="post">
Queue Id <input type="text" name="Queueid"><br>
Amb Id<input type="text" name="Ambid"><br>
<input type="submit" value="Submit">
</form>
</body>
</html>