<!DOCTYPE html>
<html>
<head>
    <!-- CSS only -->
    <title>home</title>
    <span class="border border-warning"></span>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<span class="border border-warning"></span>
<div class="container">
  <div class="jumbotron">
    <h1 align="center">Homepage</h1>
    <a href="/add" >Add Records</a><br><br>
    <a href ="/view">List Records</a><br><br>
    <a href="/delete">Delete Record</a><br><br>
  </div>
</div>
</body>
</html>